@import "cards";

body {
  font-family: Helvetica;
  background-color: white;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

#root > div {
  margin-top: 20px;
  display: flex;
}

.full-page {
  width: 100%;
}

.map-container {
  height: 100vh;
  width: 40%;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.flat-list {
  padding-left: 10px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  .card {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.marker {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: red;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pin::after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: white;
  position: absolute;
  border-radius: 50%;
}
